*{
    
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    }
    
    header{
        background-color:#96CEB4 ;
        width: 100%;
        position:static;
        z-index: 999;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 200px;
    
    }
    .logo{
        text-decoration: none;
        color:#D9534F;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.8em;
        font-family: 'Playfair Display', serif;
       
        
    
    }
    .navigation a{
    color: #FFEEAD;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
    }
    .navigation a:hover{
        color:#D9534F ;
    }
    section {
        padding: 100px 200px;
    }
    .nn a{
        color: #FFEEAD;
        text-decoration: none;
        text-align: right;
        font-size: 0.8em;
        font-weight: 500;
        padding-right: 30px;
        padding: 30px;
        margin-left: 90px;
        
        }
        
        .nn a:hover{
            color:#D9534F ;
        }
        
        
         
        /*  dropdown*/
        .dropbtn {
            background-color: #04AA6D;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
          }
          
          .dropdown {
            position: relative;
            display: inline-block;
            color: #000;
          }
         
          .dropdown a:hover{
            color: #D9534F;
          }
          .dropdown-content {
            display: none;
            position: absolute;
            background-color: #857575;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
          }
          
          .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            
          }
          
          .dropdown-content a:hover {background-color:#ddd;}
          
          .dropdown:hover .dropdown-content {display: block;}
          
          .dropdown:hover .dropbtn {background-color: #3e8e41;}
          .dropdown span{
            color:#FFEEAD;
            margin-left: 100px;
          }
          section{
            padding: 100px 200px ;
            background-color: #eee;
        }
        .col-md-8{
            width: 100%;
            min-height: 100vh;
            display: flex;
            align-items: center;
            background: url(imgs/cccccccopu.jpg)no-repeat;
            background-size: cover;
        background-position: center;
        background-attachment: fixed;
        }  
body{
    background-color: #eee;
}
        .col img{
            
            padding: 16px;
        }
    section.mt-5{
        padding: 100px 100px;
    }
.loginBtn{
    border:1px solid orange;
    border-radius: 14px;
    padding-right: 5px;
    padding-left: 5px;
    width: 100px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: orange;
}
.cart{
    padding: 14px;
    border-radius: 45%;
   
    background-color: rgb(235, 230, 230);
}
.one{
    background-color: #F4F8F9;
}
.title{
    position:absolute;
width: 475px;
height: 148px;
left: 780px;
top: 201px;
    color:#D9534F;
    font-family: 'Ibarra Real Nova';
    font-weight: 700;
font-size: 40px;
line-height: 50px;
}section.third-mt-3{
    padding: 100px 100px 
}
.smalltitle{
    position: absolute;
width: 381px;
height: 126px;
left: 820px;
top: 320px;

font-family: 'Ibarra Real Nova';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
text-align: center;

color: #999999;
}
.shopBtn{
    position: absolute;
width: 157px;
height: 48px;
left: 935px;
top: 440px;

font-family: 'Ibarra Real Nova';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 38px;
border: 1px solid orange;
background-color: orange;
border-radius: 14px;
color: white;
}
.nav-link:hover{
    background-color:orange;
    border-radius: 15px;
}
.loginBtn:hover{
    background-color: orange;
    color: white;
}
.cart:hover{
    background-color: orange;
    color: white;
}
.shopBtn:hover{
    background-color: white;
    color: orange;
}
.third{
    height: 250px;
}
.two{
    background:url(imgs/pexels-mali-maeder-1043331cc.jpg);
    background-size: cover;
    height: 280px;
    align-items: center;
    padding-top: 70px;
    color: #96CEB4;
    font-family: 'Inter';
}
.two h5{
    color: #FFAD60;
}
.checked {
    color: orange;
  }
.title-img{
    color: grey;
    font-size: 22px;
    font-weight: bold;
}
.fourth{
    font-family: 'Ibarra Real Nova';
    background-color: rgba(255, 136, 57, 0.8);
    font-style: italic;
    border: 1px solid rgba(255, 136, 57, 0.8);
    border-top-left-radius: 160px;
    border-bottom-right-radius: 160px;
    color: white;
    height: 270px;
    align-items: center;
    padding: 10px;
    margin: 20px;
}
.fourth span.art{
    font-family: 'Playfair Display', serif;  
text-transform: uppercase;    display: inline-block;
    margin-top: 10px;
    color: #D9534F;
    font-size: 3em;
font-weight: 600;
}
.fifth{
   height: 400px;
   margin-top: 40px;
   color: white;
   font-family: 'Ibarra Real Nova';
}
.fifth h2{
    padding-top: 60px;
    color: black;
    font-family: 'Ibarra Real Nova';
    font-size: 40px;
}
.btnMore{
    background-color:#6F2B0D;;
    color: white;
    border: 1px solid #6F2B0D;;
    border-radius: 16px;
    width: 150px;
    font-size: 23px;
}
.btnMore:hover{
    background-color: orange;
    color: white;
}
.fifth p{
    font-size: 20px;
}
img:hover{
    opacity: 60%;
        -webkit-filter: brightness(.5);
        filter: brightness(1);
     
}
.end{
    color: black;
    background-color: rgb(155, 154, 154);
    font-family: 'Ibarra Real Nova';
}
.end a{
    text-decoration: none;
}
.end p:hover{
    color: white;
}
.inte{
    align-items: center;
}
.seond{
    text-align: right;
}
.card {
    background-color: #fff;
    width: 11.25em;
    box-shadow: 0 5px 25px rgba(1 1 /15);
    border-radius: 10px;
    padding: 25px;
    margin: 21px;
    transition: 0.7s ease;
    box-shadow: 0 5px 25px  rgba(1 1 1 / 50%);
}